* {
    margin: 0%;
    padding: 0%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    
}

body{
    text-align: center;
}

button{
    width: 200px;
    height: 100px;
    margin: 20px;
    background-color: #19B2FF;
    border: none;
    border-radius: 10px;
}

/* 1. Button grow styling*/
.btn-grow{
    transition: all 0.5s ease-in-out 0s;
}
.btn-grow:hover{
    transform: scale(1.5);
}
/*The end of grow button*/

/* 2. Button shrink styling*/
.btn-shrink{
    transition: all 0.5s ease-in-out 0s;
}
.btn-shrink:hover{
    transform: scale(0.8);
}
/*The end of shrink button*/

/* 3. Button background changing styling*/
.btn-background-changing{
    transition: all 0.5s ease-in-out 0s;
}
.btn-background-changing:hover{
    background-color: #6A0CE8;
}
/*The end of background changing button*/

/* 4. Button background and text color changing styling*/
.btn-textcolor-and-background-changing{
    transition: all 0.5s ease-in-out 0s;
}
.btn-textcolor-and-background-changing:hover{
    background-color: #7573E8;
    color: #FFF;
}
/*The end of background and text color changing button*/

/* 5. Button box shadow to left styling*/
.btn-box-shadow-to-left{
    transition: all 0.5s ease-in-out 0s;
}
.btn-box-shadow-to-left:hover{
    box-shadow: 0 0 0px 5px #7573E8;
    transform: translateX(-12px);
}
/*The end of box shadow to left button*/

/* 6. Button box shadow to right styling*/
.btn-box-shadow-to-right{
    transition: all 0.5s ease-in-out 0s;
}
.btn-box-shadow-to-right:hover{
    box-shadow: 0 0 0px 5px #7573E8;
    transform: translateX(12px);
}
/*The end of box shadow to right button*/

/* 7. Button box shadow to top styling*/
.btn-box-shadow-to-top{
    transition: all 0.5s ease-in-out 0s;
}
.btn-box-shadow-to-top:hover{
    box-shadow: 0 0 0px 5px #7573E8;
    transform: translateY(-12px);
}
/*The end of box shadow to top button*/

/* 8. Button box shadow to bottom styling*/
.btn-box-shadow-to-bottom{
    transition: all 0.5s ease-in-out 0s;
}
.btn-box-shadow-to-bottom:hover{
    box-shadow: 0 0 0px 5px #7573E8;
    transform: translateY(12px);
}
/*The end of box shadow to bottom button*/

/* 8. Button box shadow to bottom styling*/
.btn-box-shadow-to-bottom{
    transition: all 0.5s ease-in-out 0s;
}
.btn-box-shadow-to-bottom:hover{
    box-shadow: 0 0 0px 5px #7573E8;
    transform: translateY(12px);
}
/*The end of box shadow to bottom button*/

/* 9. Button box shadow blurry styling*/
.btn-box-shadow-blurry{
    transition: all 0.5s ease-in-out 0s;
}
.btn-box-shadow-blurry:hover{
    box-shadow: 0 0 20px #7573E8;
}
/*The end of box shadow blurry button*/

/* 9. Button box shadow styling*/
.btn-box-shadow{
    transition: all 0.5s ease-in-out 0s;
}
.btn-box-shadow:hover{
    box-shadow: 0 0 0px 5px #7573E8;
}
/*The end of box shadow button*/

/* 9. Button fade in styling*/
.btn-fade-in{
    transition: all 0.5s ease-in-out 0s;
    opacity: 0.5;
}
.btn-fade-in:hover{
    opacity: 1;
}
/*The end of fade in button*/

/* 10. Button fade out styling*/
.btn-fade-out{
    transition: all 0.5s ease-in-out 0s;
    opacity: 1;
}
.btn-fade-out:hover{
    opacity: 0.5;
}
/*The end of fade out button*/

/* 11. Button rotate styling*/
.btn-rotate{
    transition: all 2s ease-in-out 0s;
}
.btn-rotate:hover{
    transform: rotate(360deg);
}
/*The end of rotate button*/

/* 12. Button sqr to circle styling*/
.btn-square-to-circle{
    transition: all 0.5s ease-in-out 0s;
    border-radius: 0;
}
.btn-square-to-circle:hover{
    border-radius: 50%;
}
/*The end of sqr to shadow button*/

/* 13. Button 3d box shadow styling*/
.btn-3d-box-shadow{
    transition: all 0.5s ease-in-out 0s;
}
.btn-3d-box-shadow:hover{
    box-shadow:
                1px 1px #53a7ea,
                2px 2px #53a7ea,
                3px 3px #53a7ea;
    transform: translateX(-3px);
}
/*The end of 3d box shadow button*/

/* 14. Button inset border styling*/
.btn-inset-border{
    transition: all 0.5s ease-in-out 0s;
}
.btn-inset-border:hover{
    box-shadow: inset 0 0 0px 10px #7573E8;
}
/*The end of inset border button*/

/* 15. Button swing styling*/
.btn-swing{
    transition: swing 2s ease-in-out 0s;
}
@keyframes swing{
    10%{
        transform: translateX(-3px);
    }

    30%{
        transform: translateX(3px);
    }

    50%{
        transform: translateX(-2px);
    }

    70%{
        transform: translateX(2px);
    }

    90%{
        transform: translateX(-1px);
    }

    100%{
        transform: translateX(0px);
    }
}
.btn-swing:hover{
    animation: swing 2s ease-in-out 1;
}
/*The end of swing button*/

/* 16. Button pulse styling*/
.btn-pulse{
    transition: pulse 2s ease-in-out 0s;
}
@keyframes pulse{
    10%{
        transform: scale(1.3);
    }

    20%{
        transform: scale(1.2);
    }

    30%{
        transform: scale(1.1);
    }

    40%{
        transform: scale(1.0);
    }

    50%{
        transform: scale(0.9);
    }

    60%{
        transform: scale(0.8);
    }

    70%{
        transform: scale(0.7);
    }

    80%{
        transform: scale(0.8);
    }

    90%{
        transform: scale(0.9);
    }

    100%{
        transform: scale(1);
    }
}
.btn-pulse:hover{
    animation: pulse 1s ease-in-out infinite;
}
/*The end of pulse button*/

/* 17. Button push styling */ 
.btn-push{
    transition: push 0.5s ease-in-out 0s;
}
@keyframes push {
    10% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(0.7);
    }

    70% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}
.btn-push:hover{
    animation: push 0.5s ease-in-out 1; 
}
/*The end of push button*/

/* 18. Button pop styling */ 
.btn-pop{
    transition: pop 0.5s ease-in-out 0s;
}
@keyframes pop {
    10% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.3);
    }

    70% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}
.btn-pop:hover{
    animation: pop 0.5s ease-in-out 1; 
}
/*The end of pop button*/

/* 19. Button bounce in styling */ 
.btn-bounce-in{
    transition: bounce-in 0.5s ease-in-out 0s;
}
@keyframes bounce-in {
    10% {
        transform: scale(1.2);
    }

    30% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1);
    }

    70% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1.2);
    }
}
.btn-bounce-in:hover{
    animation: bounce-in 0.5s ease-in-out 1; 
    transform: scale(1.2);
}
/*The end of bounce in button*/

/* 20. Button bounce out styling */ 
.btn-bounce-out{
    transition: bounce-out 0.5s ease-in-out 0s;
}
@keyframes bounce-out {
    10% {
        transform: scale(0.8);
    }

    30% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1);
    }

    70% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(0.8);
    }
}
.btn-bounce-out:hover{
    animation: bounce-out 0.5s ease-in-out 1; 
    transform: scale(0.8);
}
/*The end of bounce out button*/

/*21. Button bob styling*/
@keyframes bob{
    10%{
        transform: translateY(-5px);
    }

    30%{
        transform: translateY(-3px);
    }

    50%{
        transform: translateY(-1px);
    }

    70%{
        transform: translateY(-3px);
    }

    100%{
        transform: translateY(-5px);
    }

}
.btn-bob:hover{
    animation: bob 1s ease-in infinite;
    transform: translateY(-5px);
}
/*The end of bob button*/

/*22. Button hang styling*/
@keyframes hang{
    10%{
        transform: translateY(10px);
    }

    30%{
        transform: translateY(5px);
    }

    50%{
        transform: translateY(3px);
    }

    70%{
        transform: translateY(5px);
    }

    100%{
        transform: translateY(10px);
    }

}
.btn-hang:hover{
    animation: hang 1s ease-in infinite;
    transform: translateY(10px);
}
/*The end of hang button*/

/* 23. Button wooble top right styling*/
@keyframes wobble-top-right{
    10%{
        transform: translate(10px, -10px);
    }

    20%{
        transform: translate(7px, -7px);
    }

    30%{
        transform: translate(5px, -5px);
    }

    50%{
        transform: translate(0px, 0px);
    }

    60%{
        transform: translate(-5px, 5px);
    }

    70%{
        transform: translate(-7px, 7px);
    }

    80%{
        transform: translate(-10px, 10px);
    }

    90%{
        transform: translate(-5px, 5px);
    }

    95%{
        transform: translate(5px, -5px);
    }

    100%{
        transform: translate(0px, 0px);
    }
}
.btn-wooble-top-right:hover {
    animation: wobble-top-right 0.5s ease-in-out 1; 
}
/*The end of wooble top right button*/

/*24. Button buzz styling*/

@keyframes buzz{
    10% {
        transform: rotate(10deg) translateX(10px);
    }

    30% {
        transform: rotate(5deg) translateX(5px);
    }

    50% {
        transform: rotate(0deg) translateX(0px);
    }

    70% {
        transform: rotate(-5deg) translateX(-5px);
    }

    100% {
        transform: rotate(-10deg) translateX(-10px);
    }
}

.btn-buzz:hover{
    animation: buzz 0.3s ease-in-out infinite;
}
/*The end of buzz button*/










